.game-over-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.game-over-box button {
  padding: 0.5rem;
  border-radius: 1rem;
}

.game-over-box button:hover {
  box-shadow: 0px 0px 30px rgb(185, 3, 155);
  cursor: pointer;
}
