.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 5rem;
  width: 100%;
  background-color: rgb(65, 64, 64);
  box-shadow: 0px 0px 30px rgb(185, 3, 155);
}

.header-container img {
  width: 40px;
  height: auto;
}

.header-container button {
  height: fit-content;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 60px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: rgb(63, 39, 59);
}

.header-container button:hover {
  box-shadow: 0px 0px 30px rgb(185, 3, 155);
}

.header-container img {
  cursor: pointer;
}

/* ---------- HELP POPUP ---------- */
.help-popup {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 8%;
  right: 65%;
}
