@font-face {
  font-family: "WitchyFont";
  src: url("./fonts/October\ Crow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  background-color: rgb(7, 7, 7);
}

.app {
  min-height: 100vh;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;
}

body {
  font-family: "WitchyFont", sans-serif;
  color: white;
}

/* -------------------------------------------------- TOGGLE BACKGROUND BLUR --------------------------------------------------*/
.app.blur {
  filter: blur(5px);
}
